{
	{$CADDY_DEBUG:}
	servers {
		trusted_proxies {$CADDY_TRUSTED_PROXIES:static private_ranges}
	}

	log requests-common-log {
		level INFO
		include http.log.access.requests
		format transform `{request>remote_ip} - {user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
			time_format "02/Jan/2006:15:04:05 -0700"
		}
		output file /var/log/caddy/request.log {
			# Don't rotate logs until they're big enough to need it, and keep 30 days
			# worth, not a set number of files
			roll_size 1GiB
			roll_keep 0
			roll_keep_for 720h
		}
	}

	log requests-json {
		level INFO
		include http.log.access.requests
		format json {
			time_format rfc3339_nano
		}
		output file /var/log/caddy/request.json {
			# Don't rotate logs until they're big enough to need it, and keep 30 days
			# worth, not a set number of files
			roll_size 1GiB
			roll_keep 0
			roll_keep_for 720h
		}
	}
}

# Optional extra top-level listeners: TPS relies on an internal, challenge-free
# listener to be defined
import /etc/caddy/conf.d/*.server.caddyfile

# Public listener: all requests start here. The port is the *host* port, since
# Caddy runs with host networking.
:{$CADDY_HTTP_PORT} {
	# Custom site-level rules (e.g., TPS)
	import /etc/caddy/conf.d/*.site.caddyfile

	# All routing rules are externally imported so that when bot protection is
	# set up, the routes are the same for the main listener or the internal
	# "challenge succeeded" listener.
	import /etc/caddy/sb-routing.caddyfile

	log requests
}
