{
	{$CADDY_DEBUG:}
	servers {
		trusted_proxies {$CADDY_TRUSTED_PROXIES:static private_ranges}
	}
}

# Optional extra top-level listeners: TPS relies on an internal, challenge-free
# listener to be defined
import /etc/caddy/conf.d/*.server.caddyfile

# Public listener: all requests start here
:80 {
	# Custom site-level rules (e.g., TPS)
	import /etc/caddy/conf.d/*.site.caddyfile

	# All routing rules are externally imported so that when bot protection is
	# set up, the routes are the same for the main listener or the internal
	# "challenge succeeded" listener.
	import /etc/caddy/sb-routing.caddyfile

	log http-public-access {
		level INFO
	}
}
