[Unit]
Description=Scholars' Bank

[Service]
WorkingDirectory=/opt/container-apps/scholarsbank
ExecStart=/usr/bin/podman compose up web
ExecStop=/usr/bin/podman compose down
TimeoutStartSec=0
Restart=always
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=default.target
