# These settings must not be changed or overridden at any stage in the docker
# build or at runtime
dspace.dir = /usr/local/dspace
db.url = jdbc:postgresql://db:5432/dspace
solr.server = http://solr:8983/solr

# These could be changed, but most of the time we want them left alone
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.ShibAuthentication,org.dspace.authenticate.PasswordAuthentication
authentication-shibboleth.lazysession.secure = false
